iframe {
  width:100%;
  height: 100%;
}

.mdl-card {
  width: 100%;
  height: 100%;
}

.my_content {
  height: 600px;
  width: 800px;
}

.unlocked-text {
  color: green;
}

.locked-text {
  color: red;
}
